body {
    background-image: url("/src/assets/images/movie_background.jpg");
}

.text-medium {
    font-size: 13pt;
}

.text-bigger {
    font-size: 14pt;
    font-weight: bold;
}

.cardimg {
    max-height: 205px;
    width: auto !important;
    height: auto;
}

nav a {
    text-decoration: none !important;
}

nav a:hover {
    color: white;
}

nav a:visited {
    color: white;
}

nav ul li a {
    background-color: black;
}

nav ul li a {
    text-decoration: none !important;
}

nav ul li a:hover {
    color: white;
    background-color: #606060;
}

nav ul li a:visited {
    color: white;
}

nav ul li:hover {
    background-color: #606060;
}